@import '../index.css';

.card {
  height: 250px;
  width: 150px;
  background-color: var(--clr-white);
  color: var(--clr-font);
  text-shadow: 1px 1px 0 var(--clr-font-shadow);
  padding: 0.5rem;

  border: var(--frame-border) solid blue;
  border-radius: var(
    --frame-border
  ); /* Necessary to hide a white pixel of the background */

  border-image: var(--frame-border-image);
  border-width: var(--frame-border);
  border-image-slice: var(--frame-border-slice);
}

.card:hover {
  cursor: pointer;
}

.card-content {
  pointer-events: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}

.pkmn-name {
  font-size: var(--fs-card);
  text-align: center;
  text-transform: capitalize;
}
