@import '../index.css';

.game-end-container {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.508);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

.main-menu,
.game-end-modal {
  min-width: 40%;
  background-color: var(--clr-white);
  color: var(--clr-font);
  text-shadow: 1px 1px 0 var(--clr-font-shadow);
  padding: 1rem 2rem;

  border: var(--frame-border) solid blue;
  border-radius: var(
    --frame-border
  ); /* Necessary to hide a white pixel of the background */

  border-image: var(--frame-border-image);
  border-width: var(--frame-border);
  border-image-slice: var(--frame-border-slice);

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.main-menu {
  justify-content: flex-start;
  align-items: flex-start;
}

.game-end-modal {
  justify-content: center;
  align-items: center;
}

.difficulty-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.difficulty-button-container,
.result-button-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.hidden {
  display: none;
}

.btn-start,
.btn-quit,
.btn-again {
  font-size: var(--fs-pkmn-name);
}

button {
  background-color: transparent;
  color: var(--clr-font);
  text-shadow: 1px 1px 0 var(--clr-font-shadow);
  font-size: var(--fs-regular);
}
