@font-face {
  font-family: Pokemon;
  src: url(./assets/Pokemon_FireRed.ttf);
}

:root {
  --ff-main: 'Pokemon';
  --fs-regular: 1rem;
  --fs-pkmn-name: 1.2rem;
  --fs-header: 1.5rem;

  --clr-white: #f8f8f8;
  --clr-font: #606060;
  --clr-font-shadow: #d0d0c8;
  --clr-accent-light: #e0a028;
  --clr-accent: #d04028;
  --clr-accent-dark: #902008;

  --card-width: 150px;
  --card-height: 250px;

  --bg-image: url('./assets/background.png');

  --frame-border-image: url('./assets/frame.png');
  --frame-border: 21px;
  --frame-border-slice: 21; /* Needs to match border */

  --padding-sides: 2rem;
  --padding-top: 2rem;
  --padding-bottom: 2rem;
}

* {
  margin: 0;
  /* border: 1px solid red; */
  padding: 0;
  font-family: var(--ff-main);
  text-rendering: geometricPrecision;
  image-rendering: pixelated;
  box-sizing: border-box;
}

.disable-scroll {
  overflow-y: hidden;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

/* Utility Classes */
.bold {
  font-weight: bold;
}
